<template>
  <div class="app-container">
    <parser-form :isEdit="false" />
  </div>
</template>

<script setup>
import ParserForm from "@/views/parsers/ParserForm";
</script>

<style scoped>
</style>
