<template>
  <div className="app-container">
    <parser-form :isEdit="true" :idBrand="id"/>
  </div>
</template>

<script setup>
import ParserForm from '@/views/parsers/ParserForm'
import { useRoute } from 'vue-router'
import { onBeforeMount,  onMounted, reactive, toRefs } from "vue";

const state = reactive({
  idBrand: 0
})

let { idBrand } = toRefs(state)

const route = useRoute()
const id = route.params.id

onBeforeMount(() => {
  // const route = useRoute()
  // state.idBrand = route.params.id
  // alert("Edit page on mounted: ", id)
})

// onMounted(()=>{
// })
</script>

<style scoped></style>
