<template>
  <div class="app-container">
    <div class="mr-3 rowSS">
      <router-link to="/parser/create">
        <el-button type="primary" icon="el-icon-add">Create</el-button>
      </router-link>
      <el-form ref="refsearchFormMixin" :inline="true" class="demo-searchFormMixin ml-2">
        <el-form-item label-width="0px" label="" label-position="left">
          <el-input
            v-model="listQuery.name"
            class="widthPx-150"
            placeholder="Parser Name"
            clearable
            @clear="fetchData()"
          />
        </el-form-item>
        <el-button @click="searchBtnClick">Search</el-button>
      </el-form>
    </div>
    <div class="box-content">
      <el-table
        v-loading="listLoading"
        :data="list"
        @selection-change="handleSelectionChange"
        element-loading-text="Loading"
        border
        highlight-current-row
        @sort-change="sortChange"
      >
        <el-table-column align="center" label="ID" width="95" sortable="custom" sort-by="id">
          <template #default="scope">
            <router-link :to="'/parser/' + scope.row.id" class="link-type">
              <a>{{ scope.row.id }}</a>
            </router-link>
          </template>
        </el-table-column>
        <el-table-column label="Parser Name" sortable="custom" sort-by="name">
          <template #default="scope">
            {{ scope.row.attributes.name }}
          </template>
        </el-table-column>
        <el-table-column label="Language" sortable="custom" sort-by="language" width="100px">
          <template #default="scope">
            <el-tag>
              {{ scope.row.attributes.language }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column label="Action" width="200px">
          <template #default="scope">
            <el-button type="danger" icon="el-icon-delete" size="small" @click="delParser(scope)">Delete</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="block columnCC mt-2 mb-5">
        <el-pagination
          :page-sizes="[10, 20, 50, 100]"
          :page-size="listQuery.limit"
          :current-page="listQuery.page"
          layout="total, sizes, prev, pager, next"
          :total="total"
          @size-change="changeSize"
          @current-change="changePage"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
import { getParsers, deleteParser } from '@/api/parsers'
import { getList } from '@/api/resellers'
import { toRefs, reactive, onBeforeMount, onMounted, ref } from 'vue'
import { ElMessage } from 'element-plus'

const state = reactive({
  list: null,
  listLoading: true,
  total: 0,
  listQuery: {
    page: 1,
    limit: 10,
    sort: 'id',
    name: null
  }
})

onMounted(() => {
  fetchData()
})

let { list, listLoading, total, listQuery } = toRefs(state)

let multipleSelection = ref([])

const handleSelectionChange = (val) => {
  multipleSelection.value = val
}

const searchBtnClick = () => {
  state.listQuery.page = 1
  fetchData()
}

const fetchData = () => {
  state.listLoading = true
  getParsers(state.listQuery)
    .then((response) => {
      state.list = response.data
      state.total = response.meta.pagination.count
      state.listQuery.page = response.meta.pagination.page
      state.listLoading = false
    })
    .catch((msg) => {
      console.log('!response', msg)
    })
}

const sortChange = (data) => {
  state.listQuery.sort = data.column.order == 'ascending' ? data.column.sortBy : '-' + data.column.sortBy
  state.listQuery.page = 1
  fetchData()
}

const changeSize = (val) => {
  state.listQuery.page = 1
  state.listQuery.limit = val
  fetchData()
}

const changePage = (val) => {
  state.listQuery.page = val
  fetchData()
}

const delParser = (data) => {
  deleteParser(data.row.id)
    .then(() => {
      ElMessage({
        ElMessage: '',
        message: 'Parser ' + data.row.attributes.name + ' successfully delete',
        type: 'success',
        duration: 2 * 1000
      })
      fetchData()
    })
    .catch((err) => {
      ElMessage({
        ElMessage: '',
        message: 'Parser ' + data.row.attributes.name + ' can not delete',
        type: 'error',
        duration: 2 * 1000
      })
      console.error('Error!!! Can not delete parser with message: ', err)
      fetchData()
    })
}
</script>

<style scoped></style>
