<template>
  <div class="createPost-container">
    <el-form ref="postData" :model="curPostData" class="form-container">
      <el-form-item>
        <el-button v-loading="loading" style="margin-left: 10px" type="success" @click="submitForm">Save</el-button>
        <el-button v-loading="loading" type="warning" @click="draftForm">Cancel</el-button>
      </el-form-item>
      <el-row>
        <el-col :span="9">
          <el-form-item label="Name">
            <el-input v-model="curPostData.attributes.name" placeholder="Name" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="20">
          <el-col :span="3">
            <el-checkbox-button
              v-model="isBrand"
              :label="isBrand ? 'For Brand' : 'For Reseller'"
              @change="changeRelation"
            />
          </el-col>
          <el-col :span="24">
            <el-select
              v-model="currenRelation"
              value-key="id"
              placeholder="Please select"
              style="width: 100%; min-width: 500px"
              clearable
              filterable
            >
              <el-option v-for="data in rellationList" :key="data.id" :label="data.name" :value="data" />
            </el-select>
          </el-col>
        </el-col>
      </el-row>
      <hr />
      <el-row>
        <Codemirror
          v-model:value="curPostData.attributes.code"
          :options="cmOptions"
          border
          placeholder="test placeholder"
          :height="500"
        />

        <el-col :span="24">
          <el-row>
            <el-form-item label="Brand Name">
              <el-input v-model="arg1" placeholder="Brand Name" />
            </el-form-item>
            <el-form-item label="Part Nums">
              <el-input v-model="arg2" placeholder="Part Nums" />
            </el-form-item>
            <el-form-item>
              <el-button
                v-loading="loading"
                style="margin-left: 10px"
                type="primary"
                icon="el-icon-caret-right"
                @click="runTest"
              >
                Run
              </el-button>
            </el-form-item>
          </el-row>
          <el-row>
            <Codemirror
              v-model:value="resultCode"
              :options="cmOptionsResult"
              border
              placeholder="test placeholder"
              :height="100"
            />
          </el-row>
        </el-col>
      </el-row>
      <el-form-item>
        <el-button v-loading="loading" style="margin-left: 10px" type="success" @click="submitForm">Save</el-button>
        <el-button v-loading="loading" type="warning" @click="draftForm">Cancel</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script setup>
import { defineProps, getCurrentInstance, onBeforeMount, onMounted, reactive, toRefs, watch } from 'vue'
import { getParser, runerTest, saveParser } from '@/api/parsers'
import { getList } from '@/api/resellers'
import { ElLoading, ElMessage, ElMessageBox } from 'element-plus'
import Codemirror from 'codemirror-editor-vue3'
// plugin-style
import 'codemirror-editor-vue3/dist/style.css'

// language
import 'codemirror/mode/javascript/javascript.js'
import 'codemirror/mode/php/php.js'
import 'codemirror/mode/python/python.js'
// import 'codemirror/mode/'

// theme
import 'codemirror/theme/dracula.css'
import 'codemirror/theme/cobalt.css'
import 'codemirror/theme/idea.css'
import 'codemirror/theme/material-darker.css'

const props = defineProps({
  isEdit: {
    require: true,
    default: false,
    type: Boolean
  },
  idBrand: {
    require: false,
    default: '',
    type: String
  }
})

const state = reactive({
  defaultPostData: {
    id: 0,
    type: 'parser',
    attributes: {
      name: '',
      code: '',
      language: 'php',
      parserBrands: null,
      parserReseller: null
    }
  },
  curPostData: null,
  isBrand: true,
  loading: true,

  resellersList: null,
  curReseller: null,
  resellersListQuery: {
    page: 1,
    limit: 1000,
    sort: 'name',
    data: 'reseller'
  },

  brandsList: null,
  curBrand: null,
  brandsListQuery: {
    page: 1,
    limit: 1000,
    sort: 'name',
    data: 'brand'
  },

  currenRelation: null,
  rellationList: null,

  cmOptions: {
    mode: 'php', // Language mode
    theme: 'material-darker', // Theme
    lineNumbers: true, // Show line number
    smartIndent: true, // Smart indent
    indentUnit: 2, // The smart indent unit is 2 spaces in length
    foldGutter: true, // Code folding
    styleActiveLine: true // Display the style of the selected row
  },
  cmOptionsResult: {
    mode: 'javascript', // Language mode
    json: true,
    theme: 'idea', // Theme
    lineNumbers: false, // Show line number
    smartIndent: true, // Smart indent
    indentUnit: 2, // The smart indent unit is 2 spaces in length
    foldGutter: true, // Code folding
    styleActiveLine: true // Display the style of the selected row
  },
  resultCode: null,
  arg1: null,
  arg2: null,
})

let {
  curPostData,
  isBrand,
  loading,
  resellersList,
  curReseller,
  resellersListQuery,
  brandsList,
  curBrand,
  brandsListQuery,
  currenRelation,
  rellationList,
  cmOptions,
  cmOptionsResult,
  resultCode,
  arg1,
  arg2
} = toRefs(state)

let { idBrand } = toRefs(props)

let { proxy } = getCurrentInstance()

watch(state, (state) => {
  if (state.isBrand) state.arg1 = state.curBrand?.name ?? null
})

onBeforeMount(() => {
  // eslint-disable-next-line no-debugger
  state.curPostData = state.defaultPostData
  // fetchData()
})

onMounted(async () => {
  state.loading = true
  state.resellersList = await getLists(state.resellersListQuery)
  state.brandsList = await getLists(state.brandsListQuery)

  if (props.isEdit) {
    const response = await fetchData()
    state.curPostData = response.data
    state.isBrand = response.data.attributes.parserReseller.length === 0
    state.curReseller = response.data.attributes.parserReseller[0]
    state.curBrand = response.data.attributes.parserBrands[0]
  }
  state.cmOptions.mode = state.curPostData.attributes.language
  changeRelation()
  state.loading = false
})

const runTest = () => {
  const loader = ElLoading.service({
    lock: true,
    text: 'Runing Script',
    spinner: 'el-icon-loading',
    background: 'rgba(0, 0, 0, 0.8)'
  })
  // 03200BK11045-EA
  const data = {
    language: state.curPostData.attributes.language,
    code: state.curPostData.attributes.code,
    arg1: state.arg1,
    arg2: state.arg2
  }
  runerTest(data)
    .then((response) => {
      state.resultCode = response.data.result ?? response.data.error
      if (loader) loader.close()
    })
    .catch((err) => {
      console.log('!res ', err)
      if (loader) loader.close()
    })
}

const fetchData = () =>
  new Promise((resolve, reject) => {
    getParser(props.idBrand)
      .then((response) => {
        resolve(response)
      })
      .catch((error) => {
        console.log('!response', error)
        reject(error)
      })
  })

const getLists = (data) =>
  new Promise((resolve, reject) => {
    getList(data)
      .then((response) => {
        resolve(response.data)
      })
      .catch((error) => {
        console.log('!response', error)
        reject(error)
      })
  })

const changeRelation = () => {
  state.currenRelation = state.isBrand ? state.curBrand : state.curReseller
  state.rellationList = state.isBrand ? state.brandsList : state.resellersList
}

const submitForm = () => {
  state.curPostData.attributes.parserBrands = state.isBrand ? state.currenRelation : null
  state.curPostData.attributes.parserReseller = state.isBrand ? null : state.currenRelation
  state.curPostData.attributes.id = state.curPostData.id
  console.log(state.curPostData.attributes)
  saveParser(state.curPostData.attributes)
    .then((response) => {
      ElMessage({
        ElMessage: '',
        message: 'Parser ' + state.curPostData.attributes.name + ' successfully saved',
        type: 'success',
        duration: 2 * 1000
      })
      proxy.$router.push('/parser/' + response.data.id)
    })
    .catch((err) => {
      ElMessage({
        ElMessage: '',
        message: 'Parser ' + state.curPostData.attributes.name + ' can not saved',
        type: 'error',
        duration: 2 * 1000
      })
      console.error("Error!!! Can not saved parser with message: ", err)
    })
}

const draftForm = () => {
  proxy.$router.push('/parsers/index')
}
</script>

<style scoped>
.el-col {
  margin: 10px;
}

.control-group,
.controls {
  display: inline-block;
}
.controls {
  width: 50%;
}
</style>
