<template>
  <div class="app-container">
    <div class="mr-3 rowSS">
      <el-button type="primary" icon="el-icon-add" @click="handleUpdate()">Create</el-button>
      <el-form ref="refsearchFormMixin" :inline="true" class="demo-searchFormMixin ml-2">
        <el-form-item label-width="0px" label="" label-position="left">
          <el-input
            v-model="listQuery.name"
            class="widthPx-150"
            placeholder="Reseller Name"
            clearable
            @clear="fetchData()"
          />
        </el-form-item>
        <el-button @click="searchBtnClick">Search</el-button>
      </el-form>
    </div>
    <div class="box-content">
      <el-table
        v-loading="listLoading"
        :data="list"
        @selection-change="handleSelectionChange"
        element-loading-text="Loading"
        border
        highlight-current-row
        @sort-change="sortChange"
      >
        <el-table-column align="center" label="ID" width="95" sortable="custom" sort-by="id">
          <template #default="scope">
            <a @click="handleUpdate(scope)">{{ scope.row.id }}</a>
            <!--            <a  @click.prevent="dialogVisible = true"> {{ scope.row.id }} </a>-->
          </template>
        </el-table-column>
        <el-table-column label="Reseller Name" sortable="custom" sort-by="name">
          <template #default="scope">
            {{ scope.row.attributes.name }}
          </template>
        </el-table-column>
        <el-table-column label="Brands">
          <template #default="scope">
            <span v-if="scope?.row?.attributes?.resellerBrands.length > 0">
              <ul>
                <li v-for="brand in scope.row.attributes.resellerBrands" :key="brand.id">{{ brand.name }}</li>
              </ul>
            </span>
            <span v-else><b>N/A</b></span>
          </template>
        </el-table-column>
        <el-table-column label="Action">
          <template #default="scope">
            <el-button
              type="primary"
              icon="el-icon-caret-right"
              size="small"
              :disabled="!showParser(scope)"
              @click="$router.push(showParser(scope))"
            >
              Parser
            </el-button>
            <el-button type="danger" icon="el-icon-delete" size="small" @click="delBrand(scope)">Delete</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="block columnCC mt-2 mb-5">
        <el-pagination
          :page-sizes="[10, 20, 50, 100]"
          :page-size="listQuery.limit"
          :current-page="listQuery.page"
          layout="total, sizes, prev, pager, next"
          :total="total"
          @size-change="changeSize"
          @current-change="changePage"
        />
      </div>
      <el-dialog
        v-if="dialogVisible"
        v-model="dialogVisible"
        :title="dialogTitle"
        :close-on-click-modal="false"
        :show-close="false"
      >
        <div class="detail-container rowBC">
          <el-form
            :model="currentPostData"
            label-position="left"
            label-width="25%"
            style="width: 90%; margin-left: 50px"
          >
            <el-form-item label="Name">
              <el-input v-model="currentPostData.attributes.name" placeholder="Reseller Name" />
            </el-form-item>
            <el-form-item label="HB2 URI">
              <el-input v-model="currentPostData.attributes.hb2uri" placeholder="HB2 URI" />
            </el-form-item>
            <el-form-item label="Brands">
              <el-select
                v-model="curBrands"
                value-key="id"
                placeholder="Please select"
                style="width: 100%"
                inputWidth="200px"
                clearable
                filterable
                multiple
              >
                <el-option v-for="brand in brandsList" :key="brand.id" :label="brand.name" :value="brand" />
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="createdReseller">Apply</el-button>
              <el-button @click="closeDialog">Cancel</el-button>
            </el-form-item>
          </el-form>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script setup>
// <!--            ref="currentPostData"-->
import { getResellers, createReseller, updateReseller, deleteReseller, getList } from '@/api/resellers'
import { toRefs, reactive, onBeforeMount, onMounted, ref } from 'vue'
import { ElMessage, ElMessageBox } from 'element-plus'
import store from '@/store'
import { createBrand, updateBrand } from '@/api/brands'

const state = reactive({
  list: null,
  listLoading: true,
  total: 0,
  dialogVisible: false,
  dialogTitle: 'Title',
  listQuery: {
    page: 1,
    limit: 10,
    sort: 'id',
    name: null
  },
  defaultPostData: {
    type: 'reseller',
    id: '',
    attributes: {
      name: '',
      hb2uri: '',
      resellerBrands: null
    }
  },
  currentPostData: null,

  brandsList: null,
  brandsListQuery: {
    page: 1,
    limit: 1000,
    sort: 'name',
    data: 'brand'
  },
  curBrands: null
})

onMounted(() => {
  state.currentPostData = state.defaultPostData
  fetchData()
})

let multipleSelection = ref([])

let {
  list,
  listLoading,
  total,
  dialogVisible,
  listQuery,
  currentPostData,
  dialogTitle,
  brandsList,
  brandsListQuery,
  curBrands
} = toRefs(state)

const handleSelectionChange = (val) => {
  multipleSelection.value = val
}

const showParser = (data) => {
  const resellerParser = data?.row?.attributes?.parser?.id ?? null
  const parser = resellerParser || null
  return parser ? '/parser/' + parser : null
}

const handleUpdate = (data) => {
  state.currentPostData = data ? data.row : state.defaultPostData
  state.curBrands = data?.row?.attributes?.resellerBrands ?? null
  state.dialogTitle = data ? 'Update' : 'Create'
  state.dialogVisible = true
}

const closeDialog = () => {
  state.currentPostData = state.defaultPostData
  state.dialogVisible = false
  fetchData()
}

const searchBtnClick = () => {
  state.listQuery.page = 1
  fetchData()
}

const changeSize = (val) => {
  state.listQuery.page = 1
  state.listQuery.limit = val
  fetchData()
}

const changePage = (val) => {
  state.listQuery.page = val
  fetchData()
}

const fetchData = () => {
  state.listLoading = true
  getResellers(state.listQuery)
    .then((response) => {
      state.list = response.data
      state.total = response.meta.pagination.count
      state.listQuery.page = response.meta.pagination.page
      state.listLoading = false
    })
    .catch((msg) => {
      console.log('!response', msg)
    })
  getListBrands()
}

const createdReseller = () => {
  state.currentPostData.attributes.brands = state.curBrands ? state.curBrands : null
  const id = state.currentPostData.id
  const name = state.currentPostData.attributes.name
  const hb2uri = state.currentPostData.attributes.hb2uri
  // const brands = state.curBrands ? {
  //   type: 'brands',
  //   id: state.curBrands.id
  // }  : null
  const brands = []
  state.curBrands.forEach((brand) => {
    brands.push({
      id: brand.id
    })
  })
  const testData = { name, hb2uri, brands }
  if (!id) {
    createReseller({ name, hb2uri, brands }).then(() => {
      ElMessage({
        ElMessage: '',
        message: 'Reseller ' + state.currentPostData.attributes.name + ' successfully create',
        type: 'success',
        duration: 2 * 1000
      })
    })
  } else {
    updateReseller({ id, name, hb2uri, brands }).then(() => {
      ElMessage({
        ElMessage: '',
        message: 'Reseller ' + state.currentPostData.attributes.name + ' successfully update',
        type: 'success',
        duration: 2 * 1000
      })
    })
  }
  state.dialogVisible = false
  state.currentPostData = state.defaultPostData
  // fetchData()
  location.reload()
}

const getListBrands = () => {
  getList(state.brandsListQuery)
    .then((response) => {
      state.brandsList = response.data
    })
    .catch((msg) => {
      console.log('!response', msg)
    })
}

const sortChange = (data) => {
  state.listQuery.sort = data.column.order == 'ascending' ? data.column.sortBy : '-' + data.column.sortBy
  state.listQuery.page = 1
  fetchData()
}

const delReseller = (data) => {
  const msgDelete = 'Are You really want to delete Reseller - ' + data.row.attributes.name
  ElMessageBox.confirm(msgDelete, {
    confirmButtonText: 'Ok',
    cancelButtonText: 'Cancel',
    type: 'warning'
  }).then(() => {
    deleteReseller(data.row.id)
      .then((response) => {
        ElMessage({
          ElMessage: '',
          message: 'Reseller ' + data.row.attributes.name + ' successfully delete',
          type: 'success',
          duration: 2 * 1000
        })
        fetchData()
      })
      .catch((error) => {})
  })
}
</script>

<style scoped>
.box-content {
  padding: 32px;
  background-color: rgb(240, 242, 245);
  position: relative;
}
</style>
