<template>
  <el-select v-model="value" placeholder="Select">
    <el-option
      v-for="item in options"
      :key="item.value"
      :label="item.label"
      :value="item"
    >
    </el-option>
  </el-select>
  {{value}}
  <el-select v-model="value1" placeholder="Select">
    <el-option
      v-for="item in options1"
      :key="item.value"
      :label="item.label"
      :value="item"
    >
    </el-option>
  </el-select>
  {{value1}}
  <Codemirror
    v-model:value="code"
    :options="cmOptions"
    border
    placeholder="test placeholder"
    :height="500"
    @change="change"
  />
</template>

<script>
import Codemirror from 'codemirror-editor-vue3'

// plugin-style
import 'codemirror-editor-vue3/dist/style.css'

// language
import 'codemirror/mode/javascript/javascript.js'
import 'codemirror/mode/php/php.js'
import 'codemirror/mode/python/python.js'

// theme
import 'codemirror/theme/dracula.css'
import 'codemirror/theme/cobalt.css'
import 'codemirror/theme/idea.css'
import 'codemirror/theme/material-darker.css'

import { ref } from 'vue'
export default {
  components: { Codemirror },
  setup() {
    const value = ref (` `)
    const value1 = ref (` `)
    const code = ref(`<?php
error_reporting(1);
ini_set('max_execution_time', 0);
set_time_limit(0)
ignore_user_abort(true);
ini_set('memory_limit', '512M');

//don't take
// $brand = $argv[1];
// $parts = $argv[2];
$brand='Zebra';
$parts='03200BK11045-EA,SAC-ET5X-4PPK1-01';
$partsArr = explode(',',$parts);
//var_dump($partsArr);
//die;
// $file = 'test.txt';
// $rez = 'Result.txt';
// $rez2 = 'Result.html';
// $text = file($file);
//include 'Proxy.php';
$ch = curl_init();
curl_setopt($ch, CURLOPT_SSL_CIPHER_LIST, 'TLSv1.2');
curl_setopt($ch, CURLOPT_CONNECTTIMEOUT, 30);
curl_setopt($ch, CURLOPT_TIMEOUT, 30);
//TAtOa66Ztw7Y
//A.Kaliberov

curl_setopt($ch, CURLOPT_USERAGENT, 'Mozilla/5.0 (Windows NT 6.1; WOW:64; rv:38.0) Gecko/20100101 Firefox/38.0');
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
curl_setopt($ch, CURLOPT_FOLLOWLOCATION, true);
curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, false);
curl_setopt($ch, CURLOPT_SSL_VERIFYHOST, false);
curl_setopt($ch, CURLOPT_SSL_CIPHER_LIST, 'TLSv1.2');
//curl_setopt($ch, CURLOPT_REFERER, 'https://www.bluestoreinc.com/OA_HTML/bsibeCAcdLogin.jsp?sitex=10020:50420:US&sitex=10020:50420:US');
//curl_setopt($ch, CURLOPT_ENCODING, 'gzip,deflate');
curl_setopt($ch, CURLOPT_HEADER, 1);
curl_setopt($ch, CURLOPT_AUTOREFERER, true);
curl_setopt($ch, CURLOPT_COOKIESESSION, true);
//curl_setopt($ch, CURLOPT_COOKIEJAR, 'cookie');
//curl_setopt($ch, CURLOPT_COOKIEFILE, 'cookie');




$h='Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9';
$h='Accept-Encoding: gzip, deflate, br';
$h='Accept-Language: en-US,en;q=0.9';
$h='Connection: keep-alive';
//$h='Cookie: PDB_pses=ZGE547599EDCB1E1542D33C07601DA8CD980C63A2631C67DB47D3AA74DA5490337291D9423EBE6CD09EB32C45CFB5D0E79; _ga=GA1.2.761646392.1614592346; hubspotutk=be5696e36cca5b4f5a49810d94aa8a0c; __hssrc=1; _gid=GA1.2.1247174218.1626067958; __hstc=209008909.be5696e36cca5b4f5a49810d94aa8a0c.1625730197661.1626067960370.1626079920217.4; JSESSIONID=0K2Z6tPrJ2QNTIin51wW8MJZcwSMly3-lC3NrU2y4xfGyQ5OPOgO!1155043352';
$h='Host: www.bluestoreinc.com';
$h='Referer: https://www.bluestoreinc.com/';
$h='Sec-Fetch-Dest: document';
$h='Sec-Fetch-Mode: navigate';
$h='Sec-Fetch-Site: same-origin';
$h='Sec-Fetch-User: ?1';
$h='Upgrade-Insecure-Requests: 1';
$h='User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.105 Safari/537.36';
curl_setopt($ch, CURLOPT_HEADER, $h);

//auth
$h='Referer: https://www.bluestoreinc.com/OA_HTML/bsibeCSrdSrchResults.jsp?cg=-200&kw=11-66553-06R&ds=0&dr=50&st=kw&cpg=0&chk=N';
curl_setopt($ch, CURLOPT_URL, 'https://www.bluestoreinc.com/OA_HTML/bsibeCAcpLogin.jsp');
curl_setopt($ch, CURLOPT_POST, 1);
curl_setopt($ch, CURLOPT_POSTFIELDS,
            "username=A.Kaliberov&password=TAtOa66Ztw7Y");
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
curl_setopt($ch, CURLOPT_HEADER, 1);
curl_setopt($ch, CURLINFO_HEADER_OUT, true);
$html = curl_exec($ch);

// var_dump(curl_getinfo($ch, CURLINFO_HEADER_OUT));

$cookies = array();
preg_match_all('/Set-Cookie:(?<cookie>\\s{0,}.*)$/im', $html, $cookies);
// print_r($cookies['cookie']);
// die;



///end auth

// curl_setopt($ch, CURLOPT_COOKIE,'PDB_pses=ZG7902763B0E425B08BA7A6452CE079F18D61B88A8163E2791DEF61CB45B4308F407C142CEE8C5ACAB62EEBE7FE97E05CF; _ga=GA1.2.148968903.1635854147; _gid=GA1.2.1986991039.1635854147; __hstc=209008909.dc7ceb9502a7ceb40044046f4d3ffe0f.1635854148053.1635854148053.1635854148053.1; hubspotutk=dc7ceb9502a7ceb40044046f4d3ffe0f; __hssrc=1; __hs_opt_out=no; __hs_initial_opt_in=true; JSESSIONID=ymnglVFRL7VDkNn_MXHlWuGyUK9pg0OtBmBvG6qF-2gD331rKVQ6!-1366581658; _gat_gtag_UA_43736619_4=1; __hssc=209008909.4.1635854148054');
curl_setopt($ch, CURLOPT_COOKIE,$cookies['cookie'][0]);

curl_setopt($ch, CURLOPT_HEADER, $h);

$result = [];
$products = [];

foreach ($partsArr as $part_n)
{
\t
    // list($brand, $part_n) = explode(";", $stroka);
\t// echo $brand."---".$part_n; //test1
\t// $brand='Zebra';
\t$altBrand='ZebraEnterprise';
\t$newPart_n = strtolower($part_n);
\t
\t$skuPart = preg_replace('/[^\\w]/', '', trim(strip_tags(strtolower($part_n))));
\t$lowerPartN = preg_replace('/[^\\w]/', '', trim(strip_tags(strtolower($part_n))));
\t$lowerBrand = preg_replace('/[^\\w]/', '', trim(strip_tags(strtolower($brand))));

    curl_setopt($ch, CURLOPT_URL, 'https://www.bluestoreinc.com/OA_HTML/bsibeCSrdSrchResults.jsp?cg=-200&kw='.$newPart_n.'&ds=0&dr=50&st=kw&cpg=0&chk=N');
    $html = curl_exec($ch);
\t// echo $html;

\tpreg_match_all('/<TD\\s*?valign=[\\'\\"]top[\\'\\"]\\s*?class=[\\'\\"]tableDataCell[\\'\\"]\\s*?>\\s*?<a\\s*?href(.*?)<\\/tr/is', $html, $itemBlocks);
//echo $itemBlocks[0][0];break;

\t$isItemFound=0;\t
\tif(count($itemBlocks[1])>0)
\t{
\t\tfor($i=0;$i<count($itemBlocks[1]);$i++)
\t\t{
\t\t
\t\t\tpreg_match_all('/href=(.*?)>/is', $itemBlocks[0][$i], $newUrl);
\t\t\t$altUrl = 'https://www.bluestoreinc.com/OA_HTML/'.$newUrl[1][0];

\t\t\tpreg_match_all('/<td\\s*?valign="top"\\s*?class=[\\'\\"]tableDataCell[\\'\\"]\\s*?>(.*?)</is', $itemBlocks[0][$i], $prices);
\t\t\tpreg_match_all('/href=.*?>(.*?)</is', $itemBlocks[0][$i], $sku);
            preg_match_all('/<td\\s*?valign="top"\\s*?class=[\\'\\"]tableDataCell[\\'\\"]\\s*?align=[\\'\\"]right[\\'\\"]\\s*?>(.*?)</is', $itemBlocks[0][$i], $ctys);

\t\t\t$skuitem = preg_replace('/[^\\w]/', '', trim(strip_tags(strtolower($sku[1][0]))));

\t\t\tif(strcasecmp($skuitem, $skuPart) == 0 && (stripos(' '.$itemBlocks[0][$i], $lowerBrand) > 0 || stripos(' '.$itemBlocks[0][$i], $altBrand) > 0))
\t\t\t{
//echo $itemBlocks[0][$i];sleep(rand(100,300));
\t\t\t\t$price = preg_replace('/[^\\.\\d]/', '', trim(strip_tags(strtolower($prices[1][2]))));
                $price1 = preg_replace('/[^\\.\\d]/', '', trim(strip_tags(strtolower($prices[1][1]))));
                $stc1 = preg_replace('/[^\\.\\d]/', '', trim(strip_tags(strtolower($ctys[1][0]))));
                $stc2 = preg_replace('/[^\\.\\d]/', '', trim(strip_tags(strtolower($ctys[1][1]))));
\t\t\t\t// $product_row = $brand . ';' . $part_n . ';'.$stc1.';' . $stc2.';' .$price .';'.$price1.';'.$altUrl;
\t\t\t\t$products[$part_n] = [
\t\t\t\t\t"price1" => $price,
\t\t\t\t\t"price2" => $price1,
\t\t\t\t\t"stc1" => $stc1,
\t\t\t\t\t"stc2" => $stc2,
\t\t\t\t\t"url" => $altUrl
\t\t\t\t];
\t\t\t\t// file_put_contents($rez, $product_row."\\r\\n", FILE_APPEND);
\t\t\t\t// echo "result: ".$product_row;
\t\t\t\t$isItemFound=1;
\t\t\t\tbreak;
\t\t\t}
\t\t}
\t}

\tif($isItemFound==0)
\t{
\t\t$products[$part_n] = [
\t\t\t"price1" => $price,
\t\t\t"price2" => $price1,
\t\t\t"stc1" => $stc1,
\t\t\t"stc2" => $stc2,
\t\t\t"url" => $altUrl
\t\t];

\t\t// $product_row = $brand.';'.$part_n.';0;$price;$price1;;' . 'https://www.bluestoreinc.com';
\t\t// file_put_contents($rez, $product_row."\\r\\n", FILE_APPEND);
\t\t// echo "result: ".$product_row;
\t}
\t// sleep(rand(1,2));
}
$result = [
\t"brand" => $brand,
\t"products" => $products
];
echo json_encode($result);
curl_close($ch);
?>

`)

    return {
      code,
      cmOptions:{
        mode: 'php', // Language mode
        theme: 'material-darker', // Theme
        lineNumbers: true, // Show line number
        smartIndent: true, // Smart indent
        indentUnit: 2, // The smart indent unit is 2 spaces in length
        foldGutter: true, // Code folding
        styleActiveLine: true // Display the style of the selected row
      },
      options: [
        {
          value: "Option1",
          label: "Option1"
        },
        {
          value: "Option2",
          label: "Option2"
        },
        {
          value: "Option3",
          label: "Option3"
        }
      ],
      options1: [
        {
          value: "Option1",
          label: "Option1"
        },
        {
          value: "Option2",
          label: "Option2"
        },
        {
          value: "Option3",
          label: "Option3"
        }
      ],
      value,
      value1
    }
  }
}
</script>
