<template>
  <div class="dashboard-container">
    <div class="dashboard-text">Roles: {{ roles }}</div>
    <div class='"container'>
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue'
import { useStore } from 'vuex'



let store = useStore()
const roles = computed(() => {
  console.log(store.state.roles)
  return store.state.user.roles
})
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    //margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
