<template>
  <div class="app-container">
    <div class="mr-3 rowSS">
      <el-button type="primary" icon="el-icon-add" @click="handleUpdate()">Create</el-button>
      <el-form ref="refsearchFormMixin" :inline="true" class="demo-searchFormMixin ml-2">
        <el-form-item label-width="0px" label="" label-position="left">
          <el-input
            v-model="listQuery.name"
            class="widthPx-150"
            placeholder="Brand Name"
            clearable
            @clear="fetchData()"
          />
        </el-form-item>
        <el-button @click="searchBtnClick">Search</el-button>
      </el-form>
    </div>
    <div class="box-content">
      <el-table
        v-loading="listLoading"
        :data="list"
        @selection-change="handleSelectionChange"
        element-loading-text="Loading"
        border
        highlight-current-row
        @sort-change="sortChange"
      >
        <el-table-column align="center" label="ID" width="95" sortable="custom" sort-by="id">
          <template #default="scope">
            <a @click="handleUpdate(scope)">{{ scope.row.id }}</a>
            <!--            <a  @click.prevent="dialogVisible = true"> {{ scope.row.id }} </a>-->
          </template>
        </el-table-column>
        <el-table-column label="Brand Name" sortable="custom" sort-by="name">
          <template #default="scope">
            {{ scope.row.attributes.name }}
          </template>
        </el-table-column>
        <el-table-column label="Reseller">
          <template #default="scope">
            {{ showReseller(scope.row.attributes.reseller) }}
          </template>
        </el-table-column>
        <el-table-column label="Action">
          <template #default="scope">
            <el-button
              type="primary"
              icon="el-icon-caret-right"
              size="small"
              :disabled="!showParser(scope)"
              @click="$router.push(showParser(scope))"
            >
              Parser
            </el-button>
            <el-button type="danger" icon="el-icon-delete" size="small" @click="delBrand(scope)">Delete</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="block columnCC mt-2 mb-5">
        <el-pagination
          :page-sizes="[10, 20, 50, 100]"
          :page-size="listQuery.limit"
          :current-page="listQuery.page"
          layout="total, sizes, prev, pager, next"
          :total="total"
          @size-change="changeSize"
          @current-change="changePage"
        />
      </div>
      <el-dialog
        v-if="dialogVisible"
        v-model="dialogVisible"
        :title="dialogTitle"
        :close-on-click-modal="false"
        :show-close="false"
      >
        <div class="detail-container rowBC">
          <el-form
            ref="formData"
            :model="currentPostData"
            label-position="left"
            label-width="25%"
            style="width: 90%; margin-left: 50px"
          >
            <el-form-item label="Name">
              <el-input v-model="currentPostData.attributes.name" placeholder="Brand Name" />
            </el-form-item>
            <el-form-item label="HB2 URI">
              <el-input v-model="currentPostData.attributes.hb2uri" placeholder="HB2 URI" />
            </el-form-item>
            <el-form-item label="Reseller">
              <el-select
                v-model="curReseller"
                value-key="id"
                placeholder="Please select"
                style="width: 100%"
                clearable
                filterable
              >
                <el-option
                  v-for="reseller in resellersList"
                  :key="reseller.id"
                  :label="reseller.name"
                  :value="reseller"
                />
              </el-select>
            </el-form-item>
            <hr />
            <el-form-item>
              <el-button type="primary" @click="createdBrand">Apply</el-button>
              <el-button @click="closeDialog">Cancel</el-button>
            </el-form-item>
          </el-form>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script setup>
// <!--            ref="currentPostData"-->
import { getBrands, createBrand, updateBrand, deleteBrand } from '@/api/brands'
import { getList } from '@/api/resellers'
import { toRefs, reactive, onMounted, ref } from 'vue'
import { ElMessage, ElMessageBox } from 'element-plus'
import store from '@/store'

const state = reactive({
  list: null,
  listLoading: true,
  total: 0,
  dialogVisible: false,
  dialogTitle: 'Title',
  listQuery: {
    page: 1,
    limit: 10,
    sort: 'id',
    name: null
  },
  defaultPostData: {
    type: 'brand',
    id: '',
    attributes: {
      name: '',
      hb2uri: '',
      reseller: null
    }
  },
  resellersList: null,
  resellersListQuery: {
    page: 1,
    limit: 1000,
    sort: 'name',
    data: 'reseller'
  },
  curReseller: null,
  currentPostData: null
})

onMounted(() => {
  state.currentPostData = state.defaultPostData
  fetchData()
})

let {
  list,
  listLoading,
  total,
  dialogVisible,
  listQuery,
  currentPostData,
  dialogTitle,
  resellersList,
  resellersListQuery,
  curReseller
} = toRefs(state)

let multipleSelection = ref([])

const handleSelectionChange = (val) => {
  multipleSelection.value = val
}

const showParser = (data) => {
  const brandParser = data?.row?.attributes?.parser?.id ?? null
  const resellerParser = data?.row?.attributes?.reseller?.parser?.id ?? null
  const parser = resellerParser || brandParser || null
  return parser ? '/parser/' + parser : null
}

const showReseller = (data) => {
  if (data) {
    return data.name
  }
  return ''
}
const handleUpdate = (data) => {
  // debugger
  state.currentPostData = data ? data.row : state.defaultPostData
  state.dialogTitle = data ? 'Update' : 'Create'

  state.curReseller = data && data.row.attributes.reseller ? data.row.attributes.reseller : ''
  state.dialogVisible = true
}

const closeDialog = () => {
  state.currentPostData = state.defaultPostData
  state.dialogVisible = false
  fetchData()
}

const searchBtnClick = () => {
  state.listQuery.page = 1
  fetchData()
}

const changeSize = (val) => {
  state.listQuery.page = 1
  state.listQuery.limit = val
  fetchData()
}

const changePage = (val) => {
  state.listQuery.page = val
  fetchData()
}

const createdBrand = () => {
  state.currentPostData.attributes.reseller = state.curReseller ? state.curReseller : null
  const id = state.currentPostData.id
  const name = state.currentPostData.attributes.name
  const hb2uri = state.currentPostData.attributes.hb2uri
  const reseller = state.curReseller
    ? {
        type: 'reseller',
        id: state.curReseller.id
      }
    : null
  if (!id) {
    createBrand({ name, hb2uri, reseller }).then(() => {
      ElMessage({
        ElMessage: '',
        message: 'Brand ' + state.currentPostData.attributes.name + ' successfully create',
        type: 'success',
        duration: 2 * 1000
      })
    })
  } else {
    updateBrand({ id, name, hb2uri, reseller }).then(() => {
      ElMessage({
        ElMessage: '',
        message: 'Brand ' + state.currentPostData.attributes.name + ' successfully update',
        type: 'success',
        duration: 2 * 1000
      })
    })
  }
  state.dialogVisible = false
  state.currentPostData = state.defaultPostData
  // fetchData()
  location.reload()
}

const fetchData = () => {
  state.listLoading = true
  getBrands(state.listQuery)
    .then((response) => {
      state.list = response.data
      state.total = response.meta.pagination.count
      state.listQuery.page = response.meta.pagination.page
      state.listLoading = false
    })
    .catch((msg) => {
      console.log('!response', msg)
    })
  getListResellers()
}

const getListResellers = () => {
  getList(state.resellersListQuery)
    .then((response) => {
      state.resellersList = response.data
    })
    .catch((msg) => {
      console.log('!response', msg)
    })
}

const sortChange = (data) => {
  state.listQuery.sort = data.column.order == 'ascending' ? data.column.sortBy : '-' + data.column.sortBy
  state.listQuery.page = 1
  fetchData()
}

const delBrand = (data) => {
  const msgDelete = 'Are You really want to delete brand - ' + data.row.attributes.name
  ElMessageBox.confirm(msgDelete, {
    confirmButtonText: 'Ok',
    cancelButtonText: 'Cancel',
    type: 'warning'
  }).then(() => {
    deleteBrand(data.row.id)
      .then((response) => {
        ElMessage({
          ElMessage: '',
          message: 'Brand ' + data.row.attributes.name + ' successfully delete',
          type: 'success',
          duration: 2 * 1000
        })
        fetchData()
      })
      .catch((error) => {
        // ElMessage({
        //   ElMessage: '',
        //   message: 'Brand ' + data.row.attributes.name + ' can not be delete',
        //   type: 'error',
        //   duration: 2 * 1000
        // })
      })
  })
}

</script>

<style scoped>
.box-content {
  padding: 32px;
  background-color: rgb(240, 242, 245);
  position: relative;
}

.detailDialog-title {
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 16px;
}
</style>
